h1, h2 {
  color: green;
}

p {
  color: gray;
}

ul {
  border: 2px solid orange;
}

ol {
  border: 2px solid purple;
}

ol, ul {
  padding: 5px 20px;
  border-radius: 4px;
}

h1, strong {
  color: purple;
}

em {
  color: gray;
}

dl {
  color: gray;
  margin: 0.5em 0;
}

dt {
  font-weight: bold;
  color: purple;
}

/* off-white background */
body {
  background-color: #f5f5f5;
  padding: 20px;
}

/* h1 font size slightly larger */
h1 {
  font-size: 2.2em;
  letter-spacing: 1px;
}

/* bottom margin to paragraphs  */
p {
  margin-bottom: 1.2em;
}

/* filled squares */
ul {
  list-style-type: square;
}
